<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrainerTrade - Login</title>
    <link rel="stylesheet" href="/trainer-trade/static/style_login.css">
</head>
<body>
    <div class="header">
        <h1>TrainerTrade</h1>
    </div>
    <div class="container">
        <h2>Login</h2>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form action="http://127.0.0.1:8000/login" method="post">
            <label>Username:</label>
            <input type="text" name="username" required>
            
            <label>Password:</label>
            <input type="password" name="password" required>
            
            <button type="submit">Login</button>
        </form>
        
        <button onclick="window.location.href='http://127.0.0.1:8000/map'">Log in as Guest</button>

        <p>Don't have an account? <a href="http://127.0.0.1:8000/register">Register here</a></p>
    </div>
</body>
</html>
